<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <h1>List of all</h1>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  <div>
    <h2>USER NAME</h2>
    <p>Number of posts: x</p>
  </div>
  </body>
</html>
