<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <h1>List of all Users</h1>

    <% @user.each do |n| %>
      <div class='section1'>
        <div class='profile'><p>Picture</p></div>
        <div class='user_display' onclick="location.href='users/<%=n.id%>'">
          <h2>Username: <%= n.name %></h2>
          <h4>ID: <%= n.id %></h4>
          <p>Number of posts: <%= n.posts_counter%></p>
          <a class="btn" href="http://127.0.0.1:3000/users/<%=n.id%>">Users Page</a>
        </div>
      </div>
    <% end %>
  
  </body>
</html>
