<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <h1>List of all</h1>

    <% @user.each do |n| %>
      <div class='section1'>
        <div class='profile'></div>
        <div class='user_display' onclick="location.href='users/<%=n.id%>'">
          <h2><%= n.name %></h2>
          <p>Number of posts: <%= n.posts_counter%></p>
        </div>
      </div>
    <% end %>
  
  </body>
</html>
