<h1>Testing the forms</h1>

<%= form_with model: user_new, url: users_path, method: :post, local: true, scope: :user do |f|  %>
  <div>
    <%= f.label :author_id %><br>
    <%= f.text_field :author_id %>
  </div>

  <div>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :text %><br>
    <%= f.text_field :text %>
  </div>

  <%= f.submit "Send Post" %>
<% end %>