<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  <div class='section1'>
    <div class='profile'><h4>Picture</h4></div>
    <div class='user_display'>
      <h2><%=@user_show.name%></h2>
      <h4>User: <%=@user_show.id%></h4>
      <p>Number of posts: <%= @user_show.posts_counter%></p>
    </div>
    <button class="btn" onclick="location.href='<%=@user_show.id%>/posts/new'">Create Post</button>
  </div>
  
  <div class="borders">
    <h3>Bio</h3>

    <p><%= @user_show.bio%></p>
  </div>

  <% @user_recent.each_with_index do |n, idx| %>
    <div class="borders">
      <h3>Post #<%=idx + 1%></h3>
      <h3><%=n.title%></h3>
      <h4>Author ID: <%=n.author_id%></h4>
      <p><%=n.text%></p>
      <p>Comments: <%=n.comments_counter%>, Likes: <%=n.likes_counter%></p>
      <a class="btn" href="http://127.0.0.1:3000/users/<%=@user_show.id%>/posts/<%=n.id%>">Post Page# <%=idx + 1%></a>
    </div>
  <% end %>

  <a class="btn" href="http://127.0.0.1:3000/users/<%=@user_show.id%>/posts">See all posts</a>
  </body>
</html>
