<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class='section1'>
      <div class='profile'></div>
      <div class='user_display'>
        <h2><%=@users.name%></h2>
        <p>Number of posts: <%= @users.posts_counter%></p>
      </div>
  </div>

  <% @posts.each_with_index do |n, idx| %>
    <div class="borders" onclick="location.href='posts/<%=n.id%>'">
      <h3>Post #<%=idx + 1%></h3>
      <h3>Title <%=n.title%></h3>
      <p><%=n.text%></p>
      <p>Comments: <%=n.comments_counter%>, Likes: <%=n.likes_counter%></p>
    </div>
    
    <div class="borders">
      <% comments(n.id).each do |n| %>
        <div class="section1">
          <h4><%=@users.name%>:</h4>
          <h4><%=n.text%></h4>
        </div>
      <% end %>
    </div>
  
  <% end %>
  
  
  <button class="btn">Pagination</button>
  </body>
</html>
