<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
   
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class='section1'>
      <div class='profile'></div>
      <div class='user_display'>
        <h2><%=@users.name%></h2>
        <h4>User: <%=@users.id%></h4>
        <p>Number of posts: <%= @users.posts_counter%></p>
        <%if current_user%>
          <button class="btn" onclick="location.href='/users/<%=current_user.id%>/posts/new'">Create Post</button>
        <%end%>
      </div>
  </div>

  <% @posts.includes(:comments).each do |n| %>
    <div class="borders" onclick="location.href='posts/<%=n.id%>'">
      <h3>Post #<%=n.id%></h3>
      <h3>Title: <%=n.title%></h3>
      <h3>Author ID: <%=n.author_id%></h3>
      <p><%=n.text%></p>
      <p>Comments: <%=n.comments_counter%>, Likes: <%=n.likes_counter%></p>
    </div>
   
    
    
    <div class="borders">
      <% n.comments.each do |n| %>
        <div class="section2">
          <h4><%=@users.name%>: <%=n.text%></h4>
          <h3>Comment Author: User <%=n.author_id%></h3>
        </div> 
      <% end %>
    </div>
  
  <% end %>
  
  
  <button class="btn">Pagination</button>

  </body>
</html>
