<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlogger</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <div class="borders">
      <h3>Post #<%=@post_show.id%> by <%=@user_show.name%> </h3>
      <h3>Title: <%=@post_show.title%></h3>
      <p><%=@post_show.text%></p>
      <p>Comments: <%=@post_show.comments_counter%>, Likes: <%=@post_show.likes_counter%></p>
      <button class="btn" onclick="location.href='<%=@post_show.id%>/comments/new'">Comment</button>
    </div>

    <form>
      
    </form>
    
    <div class="borders">
      <% comments_all(@post_show.id).each do |n| %>
        <div class="section1">
          <h4><%=@user_show.name%>:</h4>
          <h4><%=n.text%></h4>
        </div>
      <% end %>
    </div>

  </body>
</html>
